.app-wrap {
  max-width: 700px;
  margin: 0 auto;
}

.required {
  color: #a41616;
}
.card {
  background-color: #eef4ff;
  border-width: 3px;
  padding: 25px;
  h2 {
    margin-bottom: 40px;
  }
}
.alert {
  p {
    margin: 0;
  }
}
.btn:disabled {
  pointer-events: auto;
  cursor: not-allowed;
}
